@{
    ViewBag.Title = "Observer Debriefer";
}

<div class="hero-unit">
    <img src="@Url.Content("~/Content/images/spc_logo.png")" alt="spc_logo" style="float:left; margin-right: 10px; margin-left: 10px;" />
    <h1>Observer Debriefer</h1>
  <p>Welcome to the Observer Debriefer application, where you will be able to ...</p>
  <br />
  <br />
  <br />
  <br />
  <p>
    @Html.ActionLink("Start!", "Index", "Debriefing", null, new { @class="btn btn-primary btn-large" })
  </p>
</div>
